<!doctype html>
<html>
 <head>
 <meta charset="UTF-8">
 <title>vue组件猜数字游戏</title>
 </head>
 <body>
  <div id="app">
	  欢迎来到猜数字游戏！请输入数字，数字范围在1~100：<br />
	  <input type="text" v-model="num" />
	  <p v-if=" num>message">抱歉，猜大了！</p>
	  <p v-if=" num<message">抱歉，猜小了！</p>
	  <p v-if=" num==message">恭喜，猜对了！</p>
  </div>
  <script src="js/vue.js" type="text/javascript" charset="UTF-8"></script>
  <script type="text/javascript">
	  let v=new Vue({
	  	el:'#app',
		data:{
			message:Math.round(Math.random()*100),
			num:0
		}
	  })
  </script>
 </body>
</html>
